h1 {
  text-align: center;
  color: #2c3e50;
}


#task-form {
  background-color: lightgray;
  max-width: 500px;
  margin: 30px auto;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#task-form h2 {
  margin-bottom: 20px;
  color: #34495e;
}


form input[type="text"],
form input[type="date"],
form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}


form button[type="submit"] {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  
}

form button[type="submit"]:hover {
  background-color: lightblue;
}